.btn {
    background-color: $blue-color;
    width: 240px;
    height: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        animation-name: swing;
        animation-duration: 1s;
    }
    &_form {
        width: 50%;
        font-size: 12px;
    }

}